@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600; 700&display=swap');

:root {
    --main-color: #f73471;
    --black: #000;
    --light-color: #868e96;
}
body{
    background-image: linear-gradient(90deg,white,rgb(226, 216, 216),#FB8DA0,#FB6B90,#f72d5c);
}
* {
    font-family: system-ui;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    transform: all .2s linear;
}

::selection {
    background: var(--main-color);
    color: #fff;

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 7rem;

}

html::-webkit-scrollbar {
    width: 1rem;

}

html::-webkit-scrollbar-track {
    background: #fafafa;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
}

section {
    padding: 2rem 9%;

}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    background: #fff;
    font-weight: 500;
    cursor: pointer;
    color: var(--main-color);
    font-size: 1.7rem;

}

.btn:hover {
    background: var(--main-color);
    color: #fff;
    letter-spacing: .1rem;
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 3rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0rem .1rem .5rem rgba(0, 0, 0, .1);
    z-index: 1000;
}

.header .logo {
    font-size: 2.5rem;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.header .logo span {
    color: var(--main-color);
    text-transform: uppercase;

}

.header .navbar a {
    font-size: 1.7rem;
    color: #fff;
    margin: 0 1rem;

}

.header .navbar a:hover {
    color: var(--main-color);
}

.header .icons div {
    font-size: 2.5rem;
    color: #222;
    padding: .5rem;
    cursor: pointer;
    margin-left: 1rem;
}

.header .icons div:hover {
    transform: rotate(180deg);
    color: var(--main-color);
}

.header .icons a {
    font-size: 1.5rem;
    letter-spacing: .1rem;
    color: #fff;
    background: var(--main-color);
    font-weight: 500;
    text-transform: uppercase;
    padding: .8rem 2rem;
    border: none;

}

.header .icons a:hover {
    color: var(--main-color);
    background: #fff;
}

#menu-btn {
    display: none;

}

.header .active {
    padding: 2rem 9%;
    background: rgba(0, 0, 0, .9);
}

.home {
    padding: 0%;


}

.home .home-slider .box {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-size: cover !important;
    background-position: center !important;

}


.home .home-slider .box .content {
    text-align: center;
    max-width: 70rem;
}

.home .home-slider .box .content h3 {
    font-size: 5rem;
    color: #fff;
    text-transform: uppercase;
    transition-delay: .2s;
}

.home .home-slider .box .content p {
    font-size: 1.7rem;
    color: #eee;
    padding: 1rem 0;
    transition-duration: .4s;

}

.home .home-slider .box .button .btn-1 {
    background: var(--main-color);
    color: #fff;
    margin: .5rem;

}

.home.home-slider.box.button.btn-1:hover {
    background: #fff;
    color: var(--main-color);

}

.home.home-slider.box.button {
    transition-delay: .6s;

}

.home.home-slider.box .content>* {
    transform: translateY(2rem);
    opacity: 0;
}

.home-slider.swiper-slide-active .content>* {
    transform: translatey(0);
    opacity: 1;

}

.part {
    border-top: 1.5px double #000;
}

.parts {
    display: flex;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 13px;
}

.part h1 {
    margin-top: 25px;
    font-size: 29px;
}

.part p {
    font-size: 15px;
    margin-left: 5px;
}

.inner-1 img:hover{
    opacity: 70%;

}

.head {
    font-size: 30px;
    font-family: system-ui;
    font-weight: 1000%;
    width: 100px;
}
.head:hover{
    color: var(--main-color);
}

.health-features {
    height: 750px;

}

.health-features img {
    height: 190px;
    width: 280px;
    margin-right: 30px;
    border: 1.5px solid #817979;
    border-radius: 0.3rem;

}


.health-exercise {
    height: 920px;


}

.health-exercise img {
    height: 190px;
    width: 280px;
    margin-right: 30px;
    border: 1.5px solid #817979;
    border-radius: 0.3rem;
}


.health-cardio {
    height: 920px;


}

.health-cardio img {
    height: 190px;
    width: 280px;
    margin-right: 30px;
    border: 1.5px solid #817979;
    border-radius: 0.3rem;
}


.health-products {
    height: 920px;


}

.health-products img {
    height: 190px;
    width: 280px;
    margin-right: 30px;
    border: 1.5px solid #817979;
    border-radius: 0.3rem;
}


.health-training {
    height: 920px;


}

.health-training img {
    height: 190px;
    width: 280px;
    margin-right: 30px;
    border: 1.5px solid #817979;
    border-radius: 0.3rem;
}

a {
    color: rgb(167, 137, 192);
}

.footer1 {
    width: 100%;
    height: 210px;
    background-color: #000;
    color: #eee;
}

.footer1 h1 {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 32px;
}

.footer1 h2 {
    margin-top: 4px;
    margin-left: 15px;
    font-size: 18px;
}

.footer1 p {
    margin-left: 15px;
    font-size: 14px;
}

.foot-in {
    background-color: #000;
    height: 75px;
    display: flex;
    align-items: center;

}

.footer-in {
    margin-top: 35px;
    margin-left: 550px;
    color: rgb(14, 13, 12);
    display: inline-flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    border: 1.5px solid rgb(165, 164, 162);
    height: 35px;
    width: 270px;
    border-radius: 0.3rem;
}

.mail {
    display: flex;
    height: 33px;
    width: 170px;
    background-color: #eee;
    justify-content: center;
    align-items: center;
}

.sign-in {
    display: flex;
    background-color: var(--main-color);
    height: 33px;
    width: 98px;
    justify-content: center;
    align-items: center;


}

.footer2 {
    width: 100%;
    height: 50px;
    background-color: #000;
    color: #eee;

}

.footer2 p {
    display: inline;
    height: 20px;
    font-size: 13px;
    margin-left: 158px;
    align-items: center;

}

.footer2 p:hover {
    text-decoration: underline;
    color: var(--main-color);
}

.footer3 {
    font-size: 12px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
    background-color: #000;
    color: #eee;
}

.footer3 p:hover {
    color: var(--main-color);
}

.footer4 {
    width: 100%;
    height: 90px;
    background-color: #000;
    color: #eee;
}

.footer4 h1 {
    margin-top: 1px;
    height: 50px;
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

.footer4 p {
    margin-top: 4px;
    height: 20px;
    font-size: 13px;
    display: inline-flex;
    margin-left: 60px;
    align-items: center;

}

.footer4 p:hover {
    text-decoration: underline;
    color: var(--main-color);
}




















@media(max-width:991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    .header .active {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media(max-width:768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: rgba(0, 0, 0, .9);
        border-top: .1rem solid #eee;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }


    .header.navbar .active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header.navbar a {
        display: block;
        margin: 2rem;
        font-size: 2rem;

    }
}

@media(max-width:450px) {
    html {
        font-size: 50%;
    }

    .header .icons a {
        letter-spacing: none;
        font-size: 1.3rem;
        padding: 1rem;
    }
}